*
    box-sizing: border-box
    margin: 0
    padding: 0

//VARIABLES
//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap')
$opensans: 'Open Sans', sans-serif
//Weather Colors
$sunny: #96caec
$cloudy: #94c5e8 
$dusty: #b7b19f
$stormy: #bdbcbc
$foggy: #c6cbce
$snowy: #dde1e2
//Elements colors
$lightbackground: #d9d9d9
$darkbackground: #222223
$lightfont1: #e6e6e6
$lightfont2: #b9b9b9
$darkfont1: #222223
$darkfont2: #3d3e3f
$darkfont3: #868686
$greenadd: #76eb22
$blue1: #488bf0
$blue2: #92baf5
$red1: #ee6c4d
$red2: #f1886d

//MAIN
.main-container
    background-color: $lightbackground
    font-family: $opensans
    height: 100vh
    // width: 100%
    display: flex
    padding-bottom: 50px 
    flex-direction: column
    align-items: center
    transition: background-color 0.5s linear
    overflow: scroll

.main-container h2
    color: $darkfont2
    transition: color 0.5s linear
    font-size: 1.8rem
    margin: 0 0 30px


.main-container p
    color: $darkfont2
    transition: color 0.5s linear

.color-frame-main-container
    width: 100%
    padding: 10px 4%
    display: flex
    flex-direction: column


.title-color
    color: $blue1
    font-weight: 600

//SEARCHBAR
.searchbar-container
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 50px 
    font-size: 1rem

.search-input 
    height: 2.1rem
    width: 35%
    padding: 4px 0 0 14px
    border-radius: 1rem
    border: none
    transition: background-color 0.5s ease-in-out
    color: $darkfont2
    font-weight: 400

.search-input.extended
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border-bottom: 1px solid $blue2

.search-input:focus
    outline: none

.location-results-li
    list-style: none
    cursor: pointer
    margin-bottom: 2px

.location-results-li:hover
    color: $blue1

.location-results-li:focus
    color: $blue1
    outline: none

.location-results-li span
    font-weight: 600

.search-results-container
    width: 35%
    padding: 10px 13px
    border-top: none
    border-bottom-left-radius: 1rem
    border-bottom-right-radius: 1rem
    background-color: field
    color: $darkfont3
    font-size: 1rem
    transition: background-color 0.5s ease-in-out 

//COLORS FRAME
.frame-container
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    margin: 20px 0
    position: relative

.frame-container h3 
    margin: 10px 0


.colors-container
    display: flex
    justify-content: center
    width: 100%
    height: 200px

.color-div
    height: 100%
    width: 0.27%

.color-div.sunny
    background-color: $sunny 

.color-div.cloudy
    background-color: $cloudy

.color-div.dusty
    background-color: $dusty 

.color-div.stormy
    background-color: $stormy

.color-div.foggy
    background-color: $foggy

.color-div.snowy
    background-color: $snowy

.data-container
    position: absolute
    height: 200px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    transition: color 0.5s ease-in-out 

.date-container
    height: 40px
    color: $darkfont2
    font-size: 0.9rem
    margin: 0 28px
    display: flex
    flex-direction: column
    align-items: center
    color: field

.location-title-container
    padding: 2px
    width: 30%
    display: flex
    justify-content: center
    cursor: pointer

.adjustable-container
    height: 3rem
    padding: 1px 30px
    background-color: field
    display: flex
    justify-content: center
    align-items: center
    border-radius: 1.5rem
    color: $darkfont2
    font-size: 1rem
    

.adjustable-container.trash
    padding: 1px 
    height: 3rem
    width: 3rem
    background-color: $red1
    color: $lightfont1
    font-size: 1.2rem
    transition: background-color 0.1s ease-in-out
    box-shadow: 0px -1px 10px 0px $darkfont3

.trash:active
    box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.75) inset

//BUTTONS
.dark-mode-btn
    cursor: pointer
    color: $darkfont2
    width: 100%
    padding: 30px 35px 20px
    font-size: 1.6rem
    transition: color 0.5s linear
    display: flex
    align-items: center
    justify-content: flex-end
    opacity: 0.8
    transition: opacity 0.3s linear

.dark-mode-btn:hover
    opacity: 1
    transition: opacity 0.3s linear

.dark-mode-tag
    font-size: 0.9rem
    margin-right: 15px
    height: 1.6rem
    padding: 8px
    border: 1px solid $lightfont2
    border-radius: 5px
    display: flex
    align-items: center
    justify-content: center
    transition: border 0.5s linear

.add-btn
    height: 2.5rem
    width: 2.5rem
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.9rem
    font-weight: 400
    background-color: $lightfont2
    color: white
    cursor: pointer
    opacity: 0.89

.add-btn:hover
    opacity: 1

.clear-all-btn
    display: flex
    justify-content: flex-end
    padding-right: 1%
    align-items: center
    font-size: 1rem
    font-weight: 600
    opacity: 0.8
    cursor: pointer

.clear-all-btn p 
    margin-right: 5px

.clear-all-btn:hover
    opacity: 1

//LOADER
.loader-container
    width: 100%
    height: 200px
    display: flex
    justify-content: center
    align-items: center

.lds-dual-ring 
  display: inline-block
  width: 45px
  height: 45px

.lds-dual-ring:after 
  content: " "
  display: block
  width: 30px
  height: 30px
  margin: 4px
  border-radius: 50%
  border: 4px solid #fff
  border-color: #fff transparent #fff transparent
  animation: lds-dual-ring 1.2s linear infinite

@keyframes lds-dual-ring 
  0% 
    transform: rotate(0deg)
  100% 
    transform: rotate(360deg)
  
    
//DARK MODE
.main-container.dark
    background-color: $darkbackground
    transition: background-color 0.5s linear

.dark-mode-btn.dark
    color: $lightfont2
    transition: color 0.5s linear

.dark-mode-tag.dark
    border: 1px solid $darkfont2
    transition: border 0.5s linear

.main-container.dark h2
    color: $lightfont1
    transition: color 0.5s linear

.main-container.dark p
    color: $lightfont2
    transition: color 0.5s linear

.add-btn.dark
    color: $darkbackground

.search-input.dark
    background-color: $darkfont2
    transition: background-color 0.5s ease-in-out 
    color: $lightfont1

.search-input.dark::placeholder

    color: $lightfont2
    transition: color 1s ease-in-out 

.search-results-container.dark
    background-color: $darkfont2
    transition: background-color 0.5s ease-in-out 

.search-results-container.dark li 
    color: $lightfont1
    transition: color 0.5s ease-in-out 

.dark .date-container 
    color: $darkfont1
    transition: color 0.5s ease-in-out 

.dark .adjustable-container
    background-color: $darkbackground
    color: $lightfont2
    

.dark .adjustable-container.trash
    background-color: $red2
    color: $darkfont2
    transition: background-color 0.1s ease-in-out
    box-shadow: 0px -1px 10px 0px $darkfont1

.dark .trash:active
    box-shadow: 0px -1px 8px 0px rgba(0,0,0,0.75) inset

.dark .clear-all-btn
    color: $lightfont2