*
    box-sizing: border-box
    margin: 0
    padding: 0

// .search-results-container ul
//     list-style: none

.search-results-container ul li
    list-style: none
    cursor: pointer

.dark-mode-btn
    cursor: pointer